<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">

<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="assets/css/academicons.css"/>

<meta name="author" content="Zesheng Zhang">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Zesheng Zhang",
  "url": "https://zhang-zesheng.github.io/",
  "email": "mailto:zesheng_zhang@163.com",
  "image": "https://zhang-zesheng.github.io/images/zzs.jpg",
  "jobTitle": "Undergraduate Researcher in Artificial Intelligence",
  "affiliation": {
    "@type": "EducationalOrganization",
    "name": "Anhui University of Science and Technology"
  },
  "sameAs": [
    "https://github.com/Zhang-ZeSheng",
    "https://orcid.org/0009-0007-9358-9086"
  ]
}
</script>

<!-- end custom head snippets -->
